/*thumbnail*/
.thumbnail {
  position: relative;
  text-align: center;
  border-radius: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  background-color: #ffffff;
}

.image-hover {
  @include box-shadow(0, 0, 20px, #ccc);
}

.isotope-item .thumbnail {
  margin-bottom: 30px;
}

.thumbnail h3 {
  font-size: 24px;
  font-family: $default-font-3;
  margin-bottom: 2px;
  color: #323232;
}

.thumbnail h3 a {
  color: inherit;
  margin-bottom: 5px;
}

.thumbnail h3 a:hover {
  color: $default-theme-color;
}

.thumbnail h3 + p {
  color: $default-theme-color;
  font-family: $default-font-3;
  margin-bottom: 10px;
}

.thumbnail .caption {
  color: #b2b2b2;
  background-color: #ffffff;
  padding: 16px 20px 26px;
}

.thumbnail a[class*="soc-"]:before {
  color: #b2b2b2;
}