
.testimonials-control {
  font-size: 22px;
}

@media (min-width: 768px) {
  .single-slide h2 {
    font-size: 50px;
  }
}

.single-slide h2 {
  font-weight: 900;
}

.single-slide h3 {
  margin-bottom: 10px;
  font-size: 28px;
}