/*teasers*/
.teaser {
  position: relative;
  margin-bottom: 30px;
}

.teaser[class*="_bg_color"] {
  padding: 35px 40px;
}

.teaser [class*="_bg_color"] {
  padding: 21px;
  margin-bottom: 2px;
  text-align: center;
}

.teaser [class*="_bg_color"] + h4 {
  margin-top: 24px;
}

.teaser .border_icon {
  padding: 0.35em;
  min-width: 1.8em;
  border-width: 3px;
  border-style: solid;
}

.teaser i {
  min-width: 1em;
  display: inline-block;
}

.teaser h2 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 33px;
  position: relative;
  padding-bottom: 10px;
}

.teaser h2:after {
  content: '';
  position: absolute;
  width: 50px;
  margin-left: -25px;
  height: 1px;
  background-color: rgba(204, 204, 204, 0.2);
  bottom: -12px;
  left: 50%;
}

.teaser h3 {
  margin-bottom: 16px;
  font-size: 24px;
}

.teaser h4 {
  font-size: 20px;
  margin-bottom: 18px;
}

.teaser .media-left {
  padding-right: 30px;
}

.teaser .media-body h3 {
  margin-bottom: 8px;
  font-size: 28px;
}

.teaser .media-body h4 {
  margin-bottom: 6px;
}

@media (max-width: 500px) {
  .teaser h2, .teaser h3, .teaser h4 {
    font-size: 1.4em !important;
  }
}

.teaser [class*="count"] {
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
  margin: 10px 0 6px;
}

.teaser [class*="count"] + p {
  margin: 0;
  font-size: 28px;
  font-weight: 300;
}

.teaser .theme_button {
  margin: 22px 0 0;
}

.section_padding_bottom_0 .teaser {
  margin-bottom: 0;
}

.teaser_icon {
  display: inline-block;
  line-height: 1;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.teaser_icon + p {
  margin-top: 27px;
}

.teaser:hover .teaser_icon {
  -webkit-animation: pulse 0.9s infinite;
  animation: pulse 0.9s infinite;
}

.size_big {
  font-size: 64px;
}

.size_normal {
  font-size: 42px;
}

.size_small {
  font-size: 26px;
}

/*horizontal teaser*/
.teaser.table_section {
  margin-top: 26px;
}

.teaser.table_section + .teaser.table_section {
  margin-top: 70px;
}

@media (min-width: 768px) {
  .teaser.table_section [class*="col-"] * {
    margin: 0;
    top: 0;
  }
}

@media (max-width: 767px) {
  .teaser.table_section [class*="col-"] * {
    text-align: center !important;
  }
}

/* background teaser */
.bg_teaser {
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: 50% 0;
  position: relative;
  color: #ffffff;
  overflow: hidden;
}

.bg_teaser .bg_overlay {
  position: absolute;
  width: 100%;
  height: 1000px;
}

.bg_teaser .highlight {
  color: #ffffff;
}

.bg_teaser h4 + h3 {
  margin-top: -14px;
  font-size: 50px;
}

.bg_teaser.rectangular .teaser_content {
  padding: 200px 30px 50px;
}

.bg_teaser.rectangular .teaser_content h3 {
  font-size: 40px;
}

.bg_teaser > img {
  display: none;
  visibility: hidden;
}

.bg_teaser .teaser_content {
  margin: 0;
  padding: 40px 40px 35px;
  z-index: 2;
}

.bg_teaser .teaser_content > .media-left {
  padding-right: 35px;
}

.bg_teaser .teaser_content.media {
  padding: 50px 40px;
}

.bg_teaser.width-gt-600 .teaser_content {
  padding-left: 65px;
  padding-right: 65px;
}

.bg_teaser.width-gt-600 .teaser_content > .media-left {
  padding-right: 40px;
}

.bg_teaser.width-lt-500 .teaser_content {
  padding-left: 30px;
  padding-right: 30px;
}

.bg_teaser.width-lt-500 .teaser_content > .media-left {
  padding-right: 0;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.color_bg_1 {
  .bg_overlay {
    background-color: rgba($default-theme-color, 0.85);
  }
  h4.grey.media-heading {
    color: lighten($default-theme-color, 50%);
  }
}

.color_bg_2 {
  .bg_overlay {
    background-color: rgba(mix($default-theme-color, $default-reverse-color, 50%), 0.85);
  }
  h4.grey.media-heading {
    color: lighten(mix($default-theme-color, $default-reverse-color, 50%), 40%);
  }
}

.color_bg_3 {
  .bg_overlay {
    background-color: rgba($default-reverse-color, 0.85);
  }
  h4.grey.media-heading {
    color: lighten($default-reverse-color, 40%);
  }
}