
/*
**boxed layout
*/
body.boxed {
  position: static;
  width: auto;
  height: auto;
}

.pattern1 {
  background-image: url(../img/pattern1.png);
}

.pattern2 {
  background-image: url(../img/pattern2.png);
}

.pattern3 {
  background-image: url(../img/pattern3.png);
}

.pattern4 {
  background-image: url(../img/pattern4.png);
}

.pattern5 {
  background-image: url(../img/pattern5.png);
}

.pattern6 {
  background-image: url(../img/pattern6.png);
}

.pattern7 {
  background-image: url(../img/pattern7.png);
}

.pattern8 {
  background-image: url(../img/pattern8.png);
}

.pattern9 {
  background-image: url(../img/pattern9.png);
}

.pattern10 {
  background-image: url(../img/pattern10.png);
}

.pattern11 {
  background-image: url(../img/pattern11.png);
}

.boxed .container {
  max-width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 500px) {
  .boxed .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.boxed #box_wrapper.container {
  padding: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.boxed #box_wrapper.container.top-bottom-margins {
  margin-top: 40px;
  margin-bottom: 40px;
}