
/**color section*/
.cs.main_color2 {
  background-color: $default-reverse-color;
}

.cs.main_color2 .highlight {
  color: $default-theme-color;
}

.cs {
  background-color: $default-theme-color;
  color: #ffffff;
}

.cs h1,
.cs h2,
.cs h3,
.cs h4,
.cs h5,
.cs h6 {
  color: #ffffff;
}

.cs h1 a,
.cs h2 a,
.cs h3 a,
.cs h4 a,
.cs h5 a,
.cs h6 a {
  color: #ffffff;
}

.cs h1 a:hover,
.cs h2 a:hover,
.cs h3 a:hover,
.cs h4 a:hover,
.cs h5 a:hover,
.cs h6 a:hover {
  color: #dcf1fb;
}

.cs a {
  color: #ffffff;
}

.cs a:hover {
  color: $default-theme-second-color;
}

.cs blockquote, .cs .blockquote {
  border-color: #82ceef;
}

.cs .theme_button.color1 {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #323232;
}

.cs .theme_button.color1:hover {
  background-color: #323232;
  border-color: #323232;
  color: #ffffff;
}

.cs .theme_button:hover, .cs .theme_button:focus {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #323232;
}

.cs .theme_button.inverse {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

.cs .theme_button.inverse:hover, .cs .theme_button.inverse:focus {
  background-color: #323232;
  border-color: #323232;
  color: #ffffff;
}

section .cs .theme_button {
  color: #323232;
  background-color: #ffffff;
  border-color: #ffffff;
}

section .cs .theme_button:hover {
  background-color: #323232;
  border-color: #323232;
  color: #ffffff;
}

.cs .with_background {
  background-color: rgba(255, 255, 255, 0.2);
}

.cs .with_border {
  border-color: rgba(255, 255, 255, 0.2);
}

.cs.with_top_border .container:before,
.cs.with_bottom_border .container:after {
  background-color: #82ceef;
}

.cs .section_header:before {
  background-color: #82ceef;
}

.cs .black {
  border-color: #ffffff;
  color: #ffffff;
}

.cs .grey {
  border-color: #323232;
  color: #323232;
}

.cs #response,
.cs .highlight {
  color: #ffffff;
}

.cs ul.list1 li {
  border-color: rgba(255, 255, 255, 0.2) !important;
}

.cs [class*='soc-']:before {
  color: #ffffff;
  border-color: #ffffff;
}

.cs .color-icon.bg-icon:before {
  background-color: #ffffff;
}

.cs .color-icon.bg-icon:hover:before {
  color: #ffffff !important;
}

.cs .form-control {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.2);
}

.cs .form-control:-moz-placeholder {
  color: #ffffff;
}

.cs .form-control::-moz-placeholder {
  color: #ffffff;
}

.cs .form-control:-ms-input-placeholder {
  color: #ffffff;
}

.cs .form-control::-webkit-input-placeholder {
  color: #ffffff;
}

.cs .form-control:focus:-moz-placeholder {
  color: transparent;
  opacity: 1;
}

.cs .form-control:focus::-moz-placeholder {
  color: transparent;
  opacity: 1;
}

.cs .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.cs .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.cs .form-control.invalid {
  box-shadow: 0 0 0 2px #ffffff;
}