
/*comments*/
.comments-area {
  margin-top: 76px;
}

.comments-area h2 {
  margin-bottom: 28px;
  font-size: 30px;
  font-size: 40px;
  font-weight: 700;
}

.comments-area li {
  list-style: none;
  padding-top: 15px;
}

.comments-area .media-object {
  max-width: 50px;
  border-radius: 50%;
}

.comment-list {
  margin: 0;
  padding: 0;
  position: relative;
}

.comment-list ol {
  padding-left: 30px;
}

@media (min-width: 992px) {
  .comment-list ol {
    padding-left: 70px;
  }
}

@media (min-width: 768px) {
  .entry-thumbnail.col-sm-5 {
    padding-right: 0;
  }
}

.comments-area .media-body {
  padding: 0 0 8px 0;
  margin-bottom: 7px;
}

.comment-meta {
  line-height: 1;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.comment-meta .comment-date {
  display: block;
  margin-top: 4px;
}

.comment-meta .author_url {
  color: #323232;
  font-weight: 700;
}

.reply {
  float: right;
}

.reply i {
  font-size: 14px;
}

.comment-respond {
  margin-top: 42px;
}

.comment-respond h3 {
  font-size: 40px;
  margin: 0 0 35px;
}

.comment-respond p {
  margin-bottom: 10px;
  position: relative;
}