/*
**vertical margins and paddings
*/
.page_contact + footer > [class*="container"] {
  padding-top: 75px;
}

/*same top and bottom paddings for sections*/
.section_padding_0 > [class*="container"] {
  padding-top: 0;
  padding-bottom: 0;
}

@for $i from 0 through 20 {
  $i: $i * 5;
  .section_padding_#{$i} > [class*="container"] {
    padding-top: $i+px;
    padding-bottom: $i+px;
  }
}

/*top paddings for sections*/
.section_padding_top_0 > [class*="container"] {
  padding-top: 0;
}

.section_padding_top_5 > [class*="container"] {
  padding-top: 5px;
}

.section_padding_top_15 > [class*="container"] {
  padding-top: 15px;
}

.section_padding_top_25 > [class*="container"] {
  padding-top: 25px;
}

.section_padding_top_50 > [class*="container"] {
  padding-top: 50px;
}

.section_padding_top_75 > [class*="container"] {
  padding-top: 75px;
}

.section_padding_top_100 > [class*="container"] {
  padding-top: 100px;
}

/*bottom paddings for sections*/
.section_padding_bottom_0 > [class*="container"] {
  padding-bottom: 0;
}

.section_padding_bottom_5 > [class*="container"] {
  padding-bottom: 5px;
}

.section_padding_bottom_15 > [class*="container"] {
  padding-bottom: 15px;
}

.section_padding_bottom_25 > [class*="container"] {
  padding-bottom: 25px;
}

.section_padding_bottom_50 > [class*="container"] {
  padding-bottom: 50px;
}

.section_padding_bottom_75 > [class*="container"] {
  padding-bottom: 75px;
}

.section_padding_bottom_100 > [class*="container"] {
  padding-bottom: 100px;
}

/* margins inside sections */
.row .row + .row {
  margin-top: 25px;
}

section > [class*="container"] > .row > [class*="col-"],
footer > [class*="container"] > .row > [class*="col-"] {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 991px) {
  [class*="col-md-"] + [class*="col-md-"] {
    margin-top: 30px !important;
  }

  [class*="col-md-"] + [class*="col-md-"][class*="col-sm-"] {
    margin-top: 15px !important;
  }
}

@media (max-width: 767px) {
  div[class*="col-sm-"] + [class*="col-sm-"] {
    margin-top: 30px !important;
  }
}

[class*="_0"] > [class*="container"] > .row > [class*="col-"] {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

[class*="_0"] > [class*="container"] > .row > [class*="col-"] {
  margin-bottom: 0;
}

[class*="_0"] > [class*="container"] > .row > [class*="col-"] {
  margin-top: 0;
}

/* vertical alignmetn in columns */
.table_section [class*="container"] {
  height: 100%;
}

.table_section .row {
  display: table;
  min-width: 100%;
  height: 100%;
}

.table_section [class*="col-"] {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

@media screen and (max-width: 767px) {
  .table_section .row,
  .table_section [class*="col-"] {
    display: block;
    width: auto;
  }

  [class*="col-xs"] + [class*="col-xs"] {
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 991px) {
  .table_section.table_section_md .row,
  .table_section.table_section_md [class*="col-"] {
    display: block;
    width: auto;
  }
}

@media screen and (max-width: 1199px) {
  .table_section.table_section_lg .row,
  .table_section.table_section_lg [class*="col-"] {
    display: block;
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  /* overlap featured person */
  .top-overlap {
    margin-top: -170px;
  }

  .top-overlap-small {
    margin-top: -100px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 500px;
  }
}
