
/*
**shop
*/
/* sort panel */
.storefront-sorting {
  line-height: 1;
}

#toggle_shop_view {
  margin-left: 14px;
}

#toggle_shop_view:before,
#toggle_shop_view:after {
  font-family: 'FontAwesome';
  display: inline-block;
  background-color: #323232;
  color: #ffffff;
  padding: 17px 16px 18px;
  font-size: 14px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

#toggle_shop_view:before {
  content: "\f00a";
  margin-right: 5px;
}

#toggle_shop_view:after {
  content: "\f03a";
  background-color: $default-theme-color;
}

#toggle_shop_view.grid-view:before {
  background-color: $default-theme-color;
}

#toggle_shop_view.grid-view:after {
  background-color: #323232;
}

#sort_view {
  color: #323232;
  display: inline-block;
  padding: 16px 20px 17px;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.columns-1 .product {
  width: 100%;
  margin-right: 0;
  float: none;
}

@media (min-width: 768px) {
  .columns-2 .product {
    width: 50%;
    float: left;
  }

  .columns-3 .product {
    width: 33.33333333%;
    float: left;
  }

  .columns-4 .product {
    width: 25%;
    float: left;
  }
}

.products {
  margin-left: -15px;
  margin-right: -15px;
}

.products:before, .products:after {
  content: '';
  clear: both;
  display: block;
}

.product {
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.owl-item .product {
  padding: 0;
}

.product h3 {
  font-weight: 300;
  font-size: 28px;
  margin: 20px 140px 12px 0;
}

.product .theme_button {
  margin: 4px 0 11px;
  padding-right: 25px;
  padding-left: 25px;
  min-width: auto;
}

.product [class*="col-"]:first-child a span {
  position: absolute;
  background-color: $default-reverse-color;
  color: #ffffff;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 14px;
  top: 10px;
  right: 25px;
}

.product [class*="col-"]:first-child a span.onsale {
  background-color: $default-theme-color;
  left: 25px;
  right: auto;
}

.star-rating {
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1em;
  font-size: 11px;
  width: 5.1em;
  font-family: "fontawesome";
  margin-bottom: 4px;
}

.star-rating:before,
.star-rating span:before {
  content: "\f005\f005\f005\f005\f005";
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  letter-spacing: 0.1em;
  letter-spacing: 0\9;
  color: #e5e5e5;
}

.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}

.star-rating span:before {
  color: #fa5c5d;
}

.price {
  position: absolute;
  right: 50px;
  top: 36px;
  font-weight: 700;
  color: #323232;
  font-size: 28px;
}

.price del {
  color: #b2b2b2;
  font-size: 16px;
  font-weight: normal;
}

.price ins {
  text-decoration: none;
}

.grid-view {
  text-align: center;
}

.grid-view .product [class*="col-"]:last-child {
  padding: 18px 40px 18px 36px;
  margin-top: 0 !important;
}

.grid-view h3 {
  font-size: inherit;
  color: inherit;
  font-weight: 400;
  margin: 10px 0 14px;
  position: relative;
  letter-spacing: 0;
}

.grid-view h3:before, .grid-view h3:after {
  content: '';
  height: 1px;
  width: 23%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  bottom: -20px;
  right: 14%;
}

.grid-view h3:before {
  right: auto;
  left: 14%;
}

.grid-view .star-rating {
  margin: auto;
}

.grid-view .price {
  position: static;
  display: block;
  margin: 8px 0 22px;
}

.grid-view .product-description {
  display: none;
}

.grid-view [class*="col-"] {
  width: 100%;
  float: none;
}

.list-view .product {
  float: none;
  width: 100%;
}

.list-view .product [class*="col-"]:last-child {
  padding: 18px 40px 18px 36px;
  margin-top: 0 !important;
}

/* single-product */
.summary h1 {
  margin-bottom: 3px;
}

.summary .product-rating {
  margin-bottom: 10px;
}

.summary .price {
  position: static;
  margin-top: 20px;
  font-size: 50px;
}

.summary .price del {
  font-size: 28px;
}

.summary .star-rating {
  display: inline-block;
  top: 4px;
  margin-right: 20px;
}

.summary .stock {
  margin-bottom: 0;
}

.summary .email-to {
  margin-bottom: 10px;
}

.summary .product-option-name {
  display: inline-block;
  margin-top: 15px;
}

.summary .theme_button {
  margin-top: 0;
}

.owl-carousel.product-thumbnails {
  margin: 30px 0 50px;
  padding-left: 25px;
  padding-right: 25px;
}

.owl-carousel.product-thumbnails .owl-nav {
  margin-top: -18px;
}

.owl-carousel.product-thumbnails .owl-nav > div {
  right: 0;
}

.owl-carousel.product-thumbnails .owl-nav > div:first-child {
  left: 0;
}

.owl-carousel.product-thumbnails .owl-nav > div:after {
  font-size: 16px;
  color: #323232;
}

.product-icons .teaser [class*="_bg_color"] {
  padding: 10px;
}

.product + .nav-tabs {
  margin-top: 60px;
}

.tab-content .comments-area {
  margin-top: 10px;
}

.tab-content .comment-respond {
  margin-top: 0;
}

.tab-content .comment-respond h3 {
  margin-bottom: 0;
  font-size: 28px;
}

.comment .star-rating {
  display: inline-block;
  top: 5px;
  margin-left: 10px;
}

.stars {
  position: relative;
}

.stars a {
  font-size: 11px;
  display: inline-block;
  font-weight: 700;
  text-indent: -9999px;
  position: relative;
  border-bottom: 0 !important;
  outline: 0;
  color: #fa5c5d;
}

.stars a:after {
  font-family: "fontawesome";
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.1em;
}

.stars a.star-1 {
  width: 1em;
}

.stars a.star-1:after {
  content: "\f005";
}

.stars a.star-2 {
  width: 2em;
}

.stars a.star-2:after {
  content: "\f005\f005";
}

.stars a.star-3 {
  width: 3em;
}

.stars a.star-3:after {
  content: "\f005\f005\f005";
}

.stars a.star-4 {
  width: 4em;
}

.stars a.star-4:after {
  content: "\f005\f005\f005\f005";
}

.stars a.star-5 {
  width: 5em;
}

.stars a.star-5:after {
  content: "\f005\f005\f005\f005\f005";
}

/* cart */
.shop-adds {
  font-size: 28px;
  font-weight: 300;
  line-height: 1.4;
}

.shop-adds .fa {
  width: 1em;
}

.shop-adds.teaser {
  margin-bottom: 0;
}

.shop-adds.teaser [class*="_bg_color"] {
  padding: 12px;
}

.cart-table {
  margin-bottom: 30px;
}

.cart_item .media {
  margin-left: -15px;
}

.cart_item img {
  max-width: 80px;
}

.cart_item h4 {
  margin-bottom: 12px;
}

.cart_item td {
  vertical-align: middle !important;
  padding: 18px 10px !important;
}

.cart_totals h4 {
  margin: 60px 0 30px;
}

.cart_totals td {
  padding: 20px 10px !important;
}

/* cart gradient section with teasers */
.coupon-teaser {
  background-color: #ffffff;
  padding: 20px 30px;
}

.shipping-calculator-teaser {
  background-color: #ffffff;
  padding: 20px 30px;
}

.shop-teaser {
  text-align: center;
  padding: 30px 30px;
}

.quantity {
  position: relative;
  display: inline-block;
}

.quantity [type="button"] {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 1;
  border: none;
  width: 22px;
  height: 24px;
  background-color: transparent;
}

.quantity [type="button"].minus {
  top: auto;
  bottom: 0;
}

.quantity [type="number"] {
  padding-right: 30px;
  padding-left: 20px;
  max-width: 70px;
}

/* chekcout */
.shop-info {
  margin-bottom: 15px;
}

form.checkout .checkbox {
  margin: -5px 0 0;
}

form.checkout .lost_password {
  margin: 15px 0 -15px;
}

form.checkout label {
  text-align: left !important;
}

#order_review table thead {
  display: none;
}

#order_review table td + td {
  border-left: none;
  text-align: right;
}

.shop-checkout-payment {
  margin-top: 40px;
}

.shop-checkout-payment .radio {
  margin: 2px 0;
}

/* shop widgets */
/* cart */
.widget_shopping_cart img {
  max-width: 80px;
}

.widget_shopping_cart h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.widget_shopping_cart .cart_list {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
  margin: 7px 0;
}

.widget_shopping_cart .media-body:last-child {
  width: 1000px;
}

.widget_shopping_cart .media-body:last-child i {
  padding: 0 0 0 10px;
}

/* price filter */
.widget_price_filter input[readonly] {
  background-color: transparent;
  padding-right: 3px;
  padding-left: 3px;
  max-width: 89px;
  margin-bottom: 4px;
  display: inline-block;
}

.widget_price_filter .ui-slider-horizontal {
  margin-bottom: 30px;
}

.widget_price_filter label[for] {
  display: inline !important;
  padding-right: 4px;
}

.widget_price_filter .form-group {
  display: inline-block;
}

.widget_price_filter .theme_button {
  margin-top: 30px;
}