
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 13px 8px;
  border-color: #e5e5e5;
}

.table {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.table td + td {
  border-left: 1px solid #e5e5e5;
}

.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border-bottom-width: 1px;
}

.table-responsive {
  border: none;
}

.well {
  box-shadow: none;
  border: none;
  border-radius: 0;
}
