.breadcrumb {
  margin: 5px 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  font-size: 14px;
  color: inherit;
  > li {
    font-family: $default-font-3;
    font-weight: 300 !important;
    i {
      font-weight: normal !important;
    }
  }
}

.breadcrumb > .active {
  color: inherit;
  opacity: 0.9;
}

.breadcrumb > li + li:before {
  color: inherit;
  padding: 0 10px;
  font-family: 'FontAwesome';
  content: "\f105";
}


.breadcrumbs_section h1 {
  display: inline;
  font-size: 24px;
}

.breadcrumbs_section {
  /* styles for breadcrumbs style 3 */
  /* styles for breadcrumbs style 4 */
}

@media screen and (min-width: 992px) {
  .breadcrumbs_section .display_table_md {
    width: auto;
    min-width: 0;
  }

  .breadcrumbs_section h1.display_table_cell_md {
    padding-right: 20px;
  }

  .breadcrumbs_section .breadcrumb.display_table_cell_md {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    padding-left: 25px;
  }
}

.breadcrumbs_section .bottom_breadcrumbs {
  float: right;
  padding: 0 20px;
  margin: -15px 15px -15px 15px;
  background-color: rgba(0, 0, 0, 0.05);
}