
/*corporate colors*/
a.color-icon.soc-twitter:before, a[class*="soc-"].soc-twitter:hover:before {
  color: #00abef;
  border-color: #00abef;
}

a.color-icon.soc-facebook:before, a[class*="soc-"].soc-facebook:hover:before {
  color: #507cbe;
  border-color: #507cbe;
}

a.color-icon.soc-google:before, a[class*="soc-"].soc-google:hover:before {
  color: #d93e2d;
  border-color: #d93e2d;
}

a.color-icon.soc-pinterest:before, a[class*="soc-"].soc-pinterest:hover:before {
  color: #c92619;
  border-color: #c92619;
}

a.color-icon.soc-foursquare:before, a[class*="soc-"].soc-foursquare:hover:before {
  color: #23b7e0;
  border-color: #23b7e0;
}

a.color-icon.soc-yahoo:before, a[class*="soc-"].soc-yahoo:hover:before {
  color: #6e2a85;
  border-color: #6e2a85;
}

a.color-icon.soc-skype:before, a[class*="soc-"].soc-skype:hover:before {
  color: #28abe3;
  border-color: #28abe3;
}

a.color-icon.soc-yelp:before, a[class*="soc-"].soc-yelp:hover:before {
  color: #c83218;
  border-color: #c83218;
}

a.color-icon.soc-feedburner:before, a[class*="soc-"].soc-feedburner:hover:before {
  color: #ffcc00;
  border-color: #ffcc00;
}

a.color-icon.soc-linkedin:before, a[class*="soc-"].soc-linkedin:hover:before {
  color: #3371b7;
  border-color: #3371b7;
}

a.color-icon.soc-viadeo:before, a[class*="soc-"].soc-viadeo:hover:before {
  color: #e4a000;
  border-color: #e4a000;
}

a.color-icon.soc-xing:before, a[class*="soc-"].soc-xing:hover:before {
  color: #005a60;
  border-color: #005a60;
}

a.color-icon.soc-myspace:before, a[class*="soc-"].soc-myspace:hover:before {
  color: #323232;
  border-color: #323232;
}

a.color-icon.soc-soundcloud:before, a[class*="soc-"].soc-soundcloud:hover:before {
  color: #fe3801;
  border-color: #fe3801;
}

a.color-icon.soc-spotify:before, a[class*="soc-"].soc-spotify:hover:before {
  color: #7bb342;
  border-color: #7bb342;
}

a.color-icon.soc-grooveshark:before, a[class*="soc-"].soc-grooveshark:hover:before {
  color: #f67e03;
  border-color: #f67e03;
}

a.color-icon.soc-lastfm:before, a[class*="soc-"].soc-lastfm:hover:before {
  color: #d41316;
  border-color: #d41316;
}

a.color-icon.soc-youtube:before, a[class*="soc-"].soc-youtube:hover:before {
  color: #d12121;
  border-color: #d12121;
}

a.color-icon.soc-vimeo:before, a[class*="soc-"].soc-vimeo:hover:before {
  color: #51b5e7;
  border-color: #51b5e7;
}

a.color-icon.soc-dailymotion:before, a[class*="soc-"].soc-dailymotion:hover:before {
  color: #004e72;
  border-color: #004e72;
}

a.color-icon.soc-vine:before, a[class*="soc-"].soc-vine:hover:before {
  color: #00b389;
  border-color: #00b389;
}

a.color-icon.soc-flickr:before, a[class*="soc-"].soc-flickr:hover:before {
  color: #0062dd;
  border-color: #0062dd;
}

a.color-icon.soc-500px:before, a[class*="soc-"].soc-500px:hover:before {
  color: #58a9de;
  border-color: #58a9de;
}

a.color-icon.soc-instagram:before, a[class*="soc-"].soc-instagram:hover:before {
  color: #9c7c6e;
  border-color: #9c7c6e;
}

a.color-icon.soc-wordpress:before, a[class*="soc-"].soc-wordpress:hover:before {
  color: #464646;
  border-color: #464646;
}

a.color-icon.soc-tumblr:before, a[class*="soc-"].soc-tumblr:hover:before {
  color: #45556c;
  border-color: #45556c;
}

a.color-icon.soc-blogger:before, a[class*="soc-"].soc-blogger:hover:before {
  color: #ec661c;
  border-color: #ec661c;
}

a.color-icon.soc-technorati:before, a[class*="soc-"].soc-technorati:hover:before {
  color: #5cb030;
  border-color: #5cb030;
}

a.color-icon.soc-reddit:before, a[class*="soc-"].soc-reddit:hover:before {
  color: #e74a1e;
  border-color: #e74a1e;
}

a.color-icon.soc-dribbble:before, a[class*="soc-"].soc-dribbble:hover:before {
  color: #e84d88;
  border-color: #e84d88;
}

a.color-icon.soc-stumbleupon:before, a[class*="soc-"].soc-stumbleupon:hover:before {
  color: #e64011;
  border-color: #e64011;
}

a.color-icon.soc-digg:before, a[class*="soc-"].soc-digg:hover:before {
  color: #1d1d1b;
  border-color: #1d1d1b;
}

a.color-icon.soc-envato:before, a[class*="soc-"].soc-envato:hover:before {
  color: #597c3a;
  border-color: #597c3a;
}

a.color-icon.soc-behance:before, a[class*="soc-"].soc-behance:hover:before {
  color: #007eff;
  border-color: #007eff;
}

a.color-icon.soc-delicious:before, a[class*="soc-"].soc-delicious:hover:before {
  color: #31a9ff;
  border-color: #31a9ff;
}

a.color-icon.soc-deviantart:before, a[class*="soc-"].soc-deviantart:hover:before {
  color: #c5d200;
  border-color: #c5d200;
}

a.color-icon.soc-forrst:before, a[class*="soc-"].soc-forrst:hover:before {
  color: #5b9a68;
  border-color: #5b9a68;
}

a.color-icon.soc-play:before, a[class*="soc-"].soc-play:hover:before {
  color: #5acdbd;
  border-color: #5acdbd;
}

a.color-icon.soc-zerply:before, a[class*="soc-"].soc-zerply:hover:before {
  color: #9dbc7a;
  border-color: #9dbc7a;
}

a.color-icon.soc-wikipedia:before, a[class*="soc-"].soc-wikipedia:hover:before {
  color: #000000;
  border-color: #000000;
}

a.color-icon.soc-apple:before, a[class*="soc-"].soc-apple:hover:before {
  color: #b9bfc1;
  border-color: #b9bfc1;
}

a.color-icon.soc-flattr:before, a[class*="soc-"].soc-flattr:hover:before {
  color: #f67c1a;
  border-color: #f67c1a;
}

a.color-icon.soc-github:before, a[class*="soc-"].soc-github:hover:before {
  color: #221e1b;
  border-color: #221e1b;
}

a.color-icon.soc-chimein:before, a[class*="soc-"].soc-chimein:hover:before {
  color: #888688;
  border-color: #888688;
}

a.color-icon.soc-friendfeed:before, a[class*="soc-"].soc-friendfeed:hover:before {
  color: #2f72c4;
  border-color: #2f72c4;
}

a.color-icon.soc-newsvine:before, a[class*="soc-"].soc-newsvine:hover:before {
  color: #075b2f;
  border-color: #075b2f;
}

a.color-icon.soc-identica:before, a[class*="soc-"].soc-identica:hover:before {
  color: #000000;
  border-color: #000000;
}

a.color-icon.soc-bebo:before, a[class*="soc-"].soc-bebo:hover:before {
  color: #ef1011;
  border-color: #ef1011;
}

a.color-icon.soc-zynga:before, a[class*="soc-"].soc-zynga:hover:before {
  color: #dc0606;
  border-color: #dc0606;
}

a.color-icon.soc-steam:before, a[class*="soc-"].soc-steam:hover:before {
  color: #8f8d8a;
  border-color: #8f8d8a;
}

a.color-icon.soc-xbox:before, a[class*="soc-"].soc-xbox:hover:before {
  color: #92c83e;
  border-color: #92c83e;
}

a.color-icon.soc-windows:before, a[class*="soc-"].soc-windows:hover:before {
  color: #00bdf6;
  border-color: #00bdf6;
}

a.color-icon.soc-outlook:before, a[class*="soc-"].soc-outlook:hover:before {
  color: #0072c6;
  border-color: #0072c6;
}

a.color-icon.soc-coderwall:before, a[class*="soc-"].soc-coderwall:hover:before {
  color: #3e8dcc;
  border-color: #3e8dcc;
}

a.color-icon.soc-tripadvisor:before, a[class*="soc-"].soc-tripadvisor:hover:before {
  color: #000000;
  border-color: #000000;
}

a.color-icon.soc-appnet:before, a[class*="soc-"].soc-appnet:hover:before {
  color: #494949;
  border-color: #494949;
}

a.color-icon.soc-goodreads:before, a[class*="soc-"].soc-goodreads:hover:before {
  color: #1abc9c;
  border-color: #1abc9c;
}

a.color-icon.soc-tripit:before, a[class*="soc-"].soc-tripit:hover:before {
  color: #1982c3;
  border-color: #1982c3;
}

a.color-icon.soc-lanyrd:before, a[class*="soc-"].soc-lanyrd:hover:before {
  color: #3c80c9;
  border-color: #3c80c9;
}

a.color-icon.soc-slideshare:before, a[class*="soc-"].soc-slideshare:hover:before {
  color: #4ba3a6;
  border-color: #4ba3a6;
}

a.color-icon.soc-buffer:before, a[class*="soc-"].soc-buffer:hover:before {
  color: #000000;
  border-color: #000000;
}

a.color-icon.soc-rss:before, a[class*="soc-"].soc-rss:hover:before {
  color: #f26109;
  border-color: #f26109;
}

a.color-icon.soc-vkontakte:before, a[class*="soc-"].soc-vkontakte:hover:before {
  color: #5a7fa6;
  border-color: #5a7fa6;
}

a.color-icon.soc-disqus:before, a[class*="soc-"].soc-disqus:hover:before {
  color: #2e9fff;
  border-color: #2e9fff;
}

a.color-icon.soc-houzz:before, a[class*="soc-"].soc-houzz:hover:before {
  color: #7cc04b;
  border-color: #7cc04b;
}

a.color-icon.soc-mail:before, a[class*="soc-"].soc-mail:hover:before {
  color: #000000;
  border-color: #000000;
}

a.color-icon.soc-patreon:before, a[class*="soc-"].soc-patreon:hover:before {
  color: #e44727;
  border-color: #e44727;
}

a.color-icon.soc-paypal:before, a[class*="soc-"].soc-paypal:hover:before {
  color: #009cde;
  border-color: #009cde;
}

a.color-icon.soc-playstation:before, a[class*="soc-"].soc-playstation:hover:before {
  color: #000000;
  border-color: #000000;
}

a.color-icon.soc-smugmug:before, a[class*="soc-"].soc-smugmug:hover:before {
  color: #acfd32;
  border-color: #acfd32;
}

a.color-icon.soc-swarm:before, a[class*="soc-"].soc-swarm:hover:before {
  color: #fc9d3c;
  border-color: #fc9d3c;
}

a.color-icon.soc-triplej:before, a[class*="soc-"].soc-triplej:hover:before {
  color: #e53531;
  border-color: #e53531;
}

a.color-icon.soc-yammer:before, a[class*="soc-"].soc-yammer:hover:before {
  color: #1175c4;
  border-color: #1175c4;
}

a.color-icon.soc-stackoverflow:before, a[class*="soc-"].soc-stackoverflow:hover:before {
  color: #fd9827;
  border-color: #fd9827;
}

a.color-icon.soc-drupal:before, a[class*="soc-"].soc-drupal:hover:before {
  color: #00598e;
  border-color: #00598e;
}

a.color-icon.soc-odnoklassniki:before, a[class*="soc-"].soc-odnoklassniki:hover:before {
  color: #f48420;
  border-color: #f48420;
}

a.color-icon.soc-android:before, a[class*="soc-"].soc-android:hover:before {
  color: #8ec047;
  border-color: #8ec047;
}

a.color-icon.soc-meetup:before, a[class*="soc-"].soc-meetup:hover:before {
  color: #e2373c;
  border-color: #e2373c;
}

a.color-icon.soc-persona:before, a[class*="soc-"].soc-persona:hover:before {
  color: #e6753d;
  border-color: #e6753d;
}

a.color-icon.soc-amazon:before, a[class*="soc-"].soc-amazon:hover:before {
  color: #ff9900;
  border-color: #ff9900;
}

a.color-icon.soc-ello:before, a[class*="soc-"].soc-ello:hover:before {
  color: #000000;
  border-color: #000000;
}

a.color-icon.soc-mixcloud:before, a[class*="soc-"].soc-mixcloud:hover:before {
  color: #314359;
  border-color: #314359;
}

a.color-icon.soc-8tracks:before, a[class*="soc-"].soc-8tracks:hover:before {
  color: #122c4b;
  border-color: #122c4b;
}

a.color-icon.soc-twitch:before, a[class*="soc-"].soc-twitch:hover:before {
  color: #6441a5;
  border-color: #6441a5;
}

a.color-icon.soc-airbnb:before, a[class*="soc-"].soc-airbnb:hover:before {
  color: #ff5a5f;
  border-color: #ff5a5f;
}

a.color-icon.soc-pocket:before, a[class*="soc-"].soc-pocket:hover:before {
  color: #ed4055;
  border-color: #ed4055;
}

/*corporate background colors*/
.color-bg-icon:before {
  color: #ffffff;
}

.color-bg-icon.soc-twitter:before, a.soc-twitter.bg-icon:hover:before, .soc-twitter.color-icon.border-icon:hover:before {
  background-color: #00abef;
}

.color-bg-icon.soc-facebook:before, a.soc-facebook.bg-icon:hover:before, .soc-facebook.color-icon.border-icon:hover:before {
  background-color: #507cbe;
}

.color-bg-icon.soc-google:before, a.soc-google.bg-icon:hover:before, .soc-google.color-icon.border-icon:hover:before {
  background-color: #d93e2d;
}

.color-bg-icon.soc-pinterest:before, a.soc-pinterest.bg-icon:hover:before, .soc-pinterest.color-icon.border-icon:hover:before {
  background-color: #c92619;
}

.color-bg-icon.soc-foursquare:before, a.soc-foursquare.bg-icon:hover:before, .soc-foursquare.color-icon.border-icon:hover:before {
  background-color: #23b7e0;
}

.color-bg-icon.soc-yahoo:before, a.soc-yahoo.bg-icon:hover:before, .soc-yahoo.color-icon.border-icon:hover:before {
  background-color: #6e2a85;
}

.color-bg-icon.soc-skype:before, a.soc-skype.bg-icon:hover:before, .soc-skype.color-icon.border-icon:hover:before {
  background-color: #28abe3;
}

.color-bg-icon.soc-yelp:before, a.soc-yelp.bg-icon:hover:before, .soc-yelp.color-icon.border-icon:hover:before {
  background-color: #c83218;
}

.color-bg-icon.soc-feedburner:before, a.soc-feedburner.bg-icon:hover:before, .soc-feedburner.color-icon.border-icon:hover:before {
  background-color: #ffcc00;
}

.color-bg-icon.soc-linkedin:before, a.soc-linkedin.bg-icon:hover:before, .soc-linkedin.color-icon.border-icon:hover:before {
  background-color: #3371b7;
}

.color-bg-icon.soc-viadeo:before, a.soc-viadeo.bg-icon:hover:before, .soc-viadeo.color-icon.border-icon:hover:before {
  background-color: #e4a000;
}

.color-bg-icon.soc-xing:before, a.soc-xing.bg-icon:hover:before, .soc-xing.color-icon.border-icon:hover:before {
  background-color: #005a60;
}

.color-bg-icon.soc-myspace:before, a.soc-myspace.bg-icon:hover:before, .soc-myspace.color-icon.border-icon:hover:before {
  background-color: #323232;
}

.color-bg-icon.soc-soundcloud:before, a.soc-soundcloud.bg-icon:hover:before, .soc-soundcloud.color-icon.border-icon:hover:before {
  background-color: #fe3801;
}

.color-bg-icon.soc-spotify:before, a.soc-spotify.bg-icon:hover:before, .soc-spotify.color-icon.border-icon:hover:before {
  background-color: #7bb342;
}

.color-bg-icon.soc-grooveshark:before, a.soc-grooveshark.bg-icon:hover:before, .soc-grooveshark.color-icon.border-icon:hover:before {
  background-color: #f67e03;
}

.color-bg-icon.soc-lastfm:before, a.soc-lastfm.bg-icon:hover:before, .soc-lastfm.color-icon.border-icon:hover:before {
  background-color: #d41316;
}

.color-bg-icon.soc-youtube:before, a.soc-youtube.bg-icon:hover:before, .soc-youtube.color-icon.border-icon:hover:before {
  background-color: #d12121;
}

.color-bg-icon.soc-vimeo:before, a.soc-vimeo.bg-icon:hover:before, .soc-vimeo.color-icon.border-icon:hover:before {
  background-color: #51b5e7;
}

.color-bg-icon.soc-dailymotion:before, a.soc-dailymotion.bg-icon:hover:before, .soc-dailymotion.color-icon.border-icon:hover:before {
  background-color: #004e72;
}

.color-bg-icon.soc-vine:before, a.soc-vine.bg-icon:hover:before, .soc-vine.color-icon.border-icon:hover:before {
  background-color: #00b389;
}

.color-bg-icon.soc-flickr:before, a.soc-flickr.bg-icon:hover:before, .soc-flickr.color-icon.border-icon:hover:before {
  background-color: #0062dd;
}

.color-bg-icon.soc-500px:before, a.soc-500px.bg-icon:hover:before, .soc-500px.color-icon.border-icon:hover:before {
  background-color: #58a9de;
}

.color-bg-icon.soc-instagram:before, a.soc-instagram.bg-icon:hover:before, .soc-instagram.color-icon.border-icon:hover:before {
  background-color: #9c7c6e;
}

.color-bg-icon.soc-wordpress:before, a.soc-wordpress.bg-icon:hover:before, .soc-wordpress.color-icon.border-icon:hover:before {
  background-color: #464646;
}

.color-bg-icon.soc-tumblr:before, a.soc-tumblr.bg-icon:hover:before, .soc-tumblr.color-icon.border-icon:hover:before {
  background-color: #45556c;
}

.color-bg-icon.soc-blogger:before, a.soc-blogger.bg-icon:hover:before, .soc-blogger.color-icon.border-icon:hover:before {
  background-color: #ec661c;
}

.color-bg-icon.soc-technorati:before, a.soc-technorati.bg-icon:hover:before, .soc-technorati.color-icon.border-icon:hover:before {
  background-color: #5cb030;
}

.color-bg-icon.soc-reddit:before, a.soc-reddit.bg-icon:hover:before, .soc-reddit.color-icon.border-icon:hover:before {
  background-color: #e74a1e;
}

.color-bg-icon.soc-dribbble:before, a.soc-dribbble.bg-icon:hover:before, .soc-dribbble.color-icon.border-icon:hover:before {
  background-color: #e84d88;
}

.color-bg-icon.soc-stumbleupon:before, a.soc-stumbleupon.bg-icon:hover:before, .soc-stumbleupon.color-icon.border-icon:hover:before {
  background-color: #e64011;
}

.color-bg-icon.soc-digg:before, a.soc-digg.bg-icon:hover:before, .soc-digg.color-icon.border-icon:hover:before {
  background-color: #1d1d1b;
}

.color-bg-icon.soc-envato:before, a.soc-envato.bg-icon:hover:before, .soc-envato.color-icon.border-icon:hover:before {
  background-color: #597c3a;
}

.color-bg-icon.soc-behance:before, a.soc-behance.bg-icon:hover:before, .soc-behance.color-icon.border-icon:hover:before {
  background-color: #007eff;
}

.color-bg-icon.soc-delicious:before, a.soc-delicious.bg-icon:hover:before, .soc-delicious.color-icon.border-icon:hover:before {
  background-color: #31a9ff;
}

.color-bg-icon.soc-deviantart:before, a.soc-deviantart.bg-icon:hover:before, .soc-deviantart.color-icon.border-icon:hover:before {
  background-color: #c5d200;
}

.color-bg-icon.soc-forrst:before, a.soc-forrst.bg-icon:hover:before, .soc-forrst.color-icon.border-icon:hover:before {
  background-color: #5b9a68;
}

.color-bg-icon.soc-play:before, a.soc-play.bg-icon:hover:before, .soc-play.color-icon.border-icon:hover:before {
  background-color: #5acdbd;
}

.color-bg-icon.soc-zerply:before, a.soc-zerply.bg-icon:hover:before, .soc-zerply.color-icon.border-icon:hover:before {
  background-color: #9dbc7a;
}

.color-bg-icon.soc-wikipedia:before, a.soc-wikipedia.bg-icon:hover:before, .soc-wikipedia.color-icon.border-icon:hover:before {
  background-color: #000000;
}

.color-bg-icon.soc-apple:before, a.soc-apple.bg-icon:hover:before, .soc-apple.color-icon.border-icon:hover:before {
  background-color: #b9bfc1;
}

.color-bg-icon.soc-flattr:before, a.soc-flattr.bg-icon:hover:before, .soc-flattr.color-icon.border-icon:hover:before {
  background-color: #f67c1a;
}

.color-bg-icon.soc-github:before, a.soc-github.bg-icon:hover:before, .soc-github.color-icon.border-icon:hover:before {
  background-color: #221e1b;
}

.color-bg-icon.soc-chimein:before, a.soc-chimein.bg-icon:hover:before, .soc-chimein.color-icon.border-icon:hover:before {
  background-color: #888688;
}

.color-bg-icon.soc-friendfeed:before, a.soc-friendfeed.bg-icon:hover:before, .soc-friendfeed.color-icon.border-icon:hover:before {
  background-color: #2f72c4;
}

.color-bg-icon.soc-newsvine:before, a.soc-newsvine.bg-icon:hover:before, .soc-newsvine.color-icon.border-icon:hover:before {
  background-color: #075b2f;
}

.color-bg-icon.soc-identica:before, a.soc-identica.bg-icon:hover:before, .soc-identica.color-icon.border-icon:hover:before {
  background-color: #000000;
}

.color-bg-icon.soc-bebo:before, a.soc-bebo.bg-icon:hover:before, .soc-bebo.color-icon.border-icon:hover:before {
  background-color: #ef1011;
}

.color-bg-icon.soc-zynga:before, a.soc-zynga.bg-icon:hover:before, .soc-zynga.color-icon.border-icon:hover:before {
  background-color: #dc0606;
}

.color-bg-icon.soc-steam:before, a.soc-steam.bg-icon:hover:before, .soc-steam.color-icon.border-icon:hover:before {
  background-color: #8f8d8a;
}

.color-bg-icon.soc-xbox:before, a.soc-xbox.bg-icon:hover:before, .soc-xbox.color-icon.border-icon:hover:before {
  background-color: #92c83e;
}

.color-bg-icon.soc-windows:before, a.soc-windows.bg-icon:hover:before, .soc-windows.color-icon.border-icon:hover:before {
  background-color: #00bdf6;
}

.color-bg-icon.soc-outlook:before, a.soc-outlook.bg-icon:hover:before, .soc-outlook.color-icon.border-icon:hover:before {
  background-color: #0072c6;
}

.color-bg-icon.soc-coderwall:before, a.soc-coderwall.bg-icon:hover:before, .soc-coderwall.color-icon.border-icon:hover:before {
  background-color: #3e8dcc;
}

.color-bg-icon.soc-tripadvisor:before, a.soc-tripadvisor.bg-icon:hover:before, .soc-tripadvisor.color-icon.border-icon:hover:before {
  background-color: #000000;
}

.color-bg-icon.soc-appnet:before, a.soc-appnet.bg-icon:hover:before, .soc-appnet.color-icon.border-icon:hover:before {
  background-color: #494949;
}

.color-bg-icon.soc-goodreads:before, a.soc-goodreads.bg-icon:hover:before, .soc-goodreads.color-icon.border-icon:hover:before {
  background-color: #1abc9c;
}

.color-bg-icon.soc-tripit:before, a.soc-tripit.bg-icon:hover:before, .soc-tripit.color-icon.border-icon:hover:before {
  background-color: #1982c3;
}

.color-bg-icon.soc-lanyrd:before, a.soc-lanyrd.bg-icon:hover:before, .soc-lanyrd.color-icon.border-icon:hover:before {
  background-color: #3c80c9;
}

.color-bg-icon.soc-slideshare:before, a.soc-slideshare.bg-icon:hover:before, .soc-slideshare.color-icon.border-icon:hover:before {
  background-color: #4ba3a6;
}

.color-bg-icon.soc-buffer:before, a.soc-buffer.bg-icon:hover:before, .soc-buffer.color-icon.border-icon:hover:before {
  background-color: #000000;
}

.color-bg-icon.soc-rss:before, a.soc-rss.bg-icon:hover:before, .soc-rss.color-icon.border-icon:hover:before {
  background-color: #f26109;
}

.color-bg-icon.soc-vkontakte:before, a.soc-vkontakte.bg-icon:hover:before, .soc-vkontakte.color-icon.border-icon:hover:before {
  background-color: #5a7fa6;
}

.color-bg-icon.soc-disqus:before, a.soc-disqus.bg-icon:hover:before, .soc-disqus.color-icon.border-icon:hover:before {
  background-color: #2e9fff;
}

.color-bg-icon.soc-houzz:before, a.soc-houzz.bg-icon:hover:before, .soc-houzz.color-icon.border-icon:hover:before {
  background-color: #7cc04b;
}

.color-bg-icon.soc-mail:before, a.soc-mail.bg-icon:hover:before, .soc-mail.color-icon.border-icon:hover:before {
  background-color: #000000;
}

.color-bg-icon.soc-patreon:before, a.soc-patreon.bg-icon:hover:before, .soc-patreon.color-icon.border-icon:hover:before {
  background-color: #e44727;
}

.color-bg-icon.soc-paypal:before, a.soc-paypal.bg-icon:hover:before, .soc-paypal.color-icon.border-icon:hover:before {
  background-color: #009cde;
}

.color-bg-icon.soc-playstation:before, a.soc-playstation.bg-icon:hover:before, .soc-playstation.color-icon.border-icon:hover:before {
  background-color: #000000;
}

.color-bg-icon.soc-smugmug:before, a.soc-smugmug.bg-icon:hover:before, .soc-smugmug.color-icon.border-icon:hover:before {
  background-color: #acfd32;
}

.color-bg-icon.soc-swarm:before, a.soc-swarm.bg-icon:hover:before, .soc-swarm.color-icon.border-icon:hover:before {
  background-color: #fc9d3c;
}

.color-bg-icon.soc-triplej:before, a.soc-triplej.bg-icon:hover:before, .soc-triplej.color-icon.border-icon:hover:before {
  background-color: #e53531;
}

.color-bg-icon.soc-yammer:before, a.soc-yammer.bg-icon:hover:before, .soc-yammer.color-icon.border-icon:hover:before {
  background-color: #1175c4;
}

.color-bg-icon.soc-stackoverflow:before, a.soc-stackoverflow.bg-icon:hover:before, .soc-stackoverflow.color-icon.border-icon:hover:before {
  background-color: #fd9827;
}

.color-bg-icon.soc-drupal:before, a.soc-drupal.bg-icon:hover:before, .soc-drupal.color-icon.border-icon:hover:before {
  background-color: #00598e;
}

.color-bg-icon.soc-odnoklassniki:before, a.soc-odnoklassniki.bg-icon:hover:before, .soc-odnoklassniki.color-icon.border-icon:hover:before {
  background-color: #f48420;
}

.color-bg-icon.soc-android:before, a.soc-android.bg-icon:hover:before, .soc-android.color-icon.border-icon:hover:before {
  background-color: #8ec047;
}

.color-bg-icon.soc-meetup:before, a.soc-meetup.bg-icon:hover:before, .soc-meetup.color-icon.border-icon:hover:before {
  background-color: #e2373c;
}

.color-bg-icon.soc-persona:before, a.soc-persona.bg-icon:hover:before, .soc-persona.color-icon.border-icon:hover:before {
  background-color: #e6753d;
}

.color-bg-icon.soc-amazon:before, a.soc-amazon.bg-icon:hover:before, .soc-amazon.color-icon.border-icon:hover:before {
  background-color: #ff9900;
}

.color-bg-icon.soc-ello:before, a.soc-ello.bg-icon:hover:before, .soc-ello.color-icon.border-icon:hover:before {
  background-color: #000000;
}

.color-bg-icon.soc-mixcloud:before, a.soc-mixcloud.bg-icon:hover:before, .soc-mixcloud.color-icon.border-icon:hover:before {
  background-color: #314359;
}

.color-bg-icon.soc-8tracks:before, a.soc-8tracks.bg-icon:hover:before, .soc-8tracks.color-icon.border-icon:hover:before {
  background-color: #122c4b;
}

.color-bg-icon.soc-twitch:before, a.soc-twitch.bg-icon:hover:before, .soc-twitch.color-icon.border-icon:hover:before {
  background-color: #6441a5;
}

.color-bg-icon.soc-airbnb:before, a.soc-airbnb.bg-icon:hover:before, .soc-airbnb.color-icon.border-icon:hover:before {
  background-color: #ff5a5f;
}

.color-bg-icon.soc-pocket:before, a.soc-pocket.bg-icon:hover:before, .soc-pocket.color-icon.border-icon:hover:before {
  background-color: #ed4055;
}

.demo-icon {
  display: inline-block;
  text-align: center;
  padding: 15px 20px 10px;
  background-color: #ffffff;
}

.demo-icon span {
  display: block;
}

.demo-icon .name {
  font-size: 1.01em;
  font-weight: 700;
  color: #323232;
}

.demo-icon a[class*="soc-"]:before {
  color: #323232;
  font-size: 24px;
  margin: 10px 0 0;
}

.social-icons-demo a[class*="soc-"]:before {
  margin: 10px !important;
}

.social-icons-demo a + a {
  margin: 0 !important;
}

h1 > [class*="rt-icon"],
h2 > [class*="rt-icon"],
h3 > [class*="rt-icon"],
h4 > [class*="rt-icon"],
h5 > [class*="rt-icon"],
h6 > [class*="rt-icon"] {
  font-size: 1.2em;
  position: relative;
  top: .1em;
  line-height: 0;
  padding-right: 0.1em;
}

p > [class*="rt-icon"] {
  font-size: 1.1em;
  position: relative;
  top: .1em;
  line-height: 0;
  padding-right: 0.45em;
}

p > [class*="rt-icon"] + [class*="rt-icon"] {
  margin-left: -0.75em;
}

.theme_button > [class*="rt-icon"],
.theme_button > [class*="glyphicon"],
.theme_button > [class*="fa-"] {
  padding: 0 4px;
  position: relative;
  top: 1px;
}

/*
**buttons
*/
.theme_button {
  font-size: 13px;
  padding: 10px 18px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 4px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  border: 1px solid #323232;
  background-color: #323232;
  border-radius: 0px;
  position: relative;
  -webkit-transition: all 0.6s linear 0s;
  transition: all 0.6s linear 0s;
  &.btn-xs {
    font-size: 13px;
    padding: 10px 18px;
  }
  &.btn-sm {
    font-size: 14px;
    padding: 13px 28px;
  }
  &.btn-lg {
    font-size: 16px;
    padding: 16px 38px;
  }
}

.color1 {
  background-color: $default-theme-color;
  border-color: $default-theme-color;
}

.color2 {
  background-color: $default-reverse-color;
  border-color: $default-reverse-color;
}

.theme_button:active,
.theme_button:hover,
.theme_button:focus {
  color: #ffffff;
  background-color: $default-theme-color;
  border-color: $default-theme-color;
  opacity: 1;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.05s linear 0s;
  transition: all 0.05s linear 0s;
}

.theme_button:active {
  top: 1px;
}

.theme_button.inverse {
  color: #323232;
  background-color: transparent;
  border: 1px solid lighten(map_get($theme-colors, grey1),50%);
}

.block_button {
  display: block;
  width: 100%;
  text-align: center;
}