/*forms*/
.form-control {
  height: 50px;
  border-color: #e5e5e5;
  background-color: transparent;
  border-radius: 0;
  color: #000000;
  padding-left: 30px;
  padding-right: 40px;
  font-size: 14px;
  @include border-radius(5px);
}

/* select styling */
.form-control option {
  color: #323232;
  background-color: #ffffff;
}

.form-control, .form-control:focus {
  box-shadow: none;
}

.form-control.invalid {
  box-shadow: 0 0 0 2px $default-theme-color;
}

.form-control:focus {
  border-color: #b2b2b2;
  color: #b2b2b2;
}

.form-control:-moz-placeholder {
  color: #b2b2b2;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #b2b2b2;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #b2b2b2;
}

.form-control::-webkit-input-placeholder {
  color: #b2b2b2;
}

.form-control:focus:-moz-placeholder {
  color: transparent;
  opacity: 1;
}

.form-control:focus::-moz-placeholder {
  color: transparent;
  opacity: 1;
}

.form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

/*icons for forms */
form label + [class*="icon2-"] {
  position: absolute;
  font-size: 16px;
  color: #323232;
  left: 20px;
  top: 25px;
}

form label + [class*="icon2-"] + .form-control {
  padding-left: 50px;
}

label {
  font-weight: normal;
}

.form-control + [class*="icon2-"] {
  position: absolute;
  font-size: 24px;
  right: 20px;
  top: 7px;
  color: $default-theme-color;
}

input[type=checkbox],
input[type=radio] {
  margin-top: 8px;
}

textarea.form-control {
  padding: 20px 30px;
}