
/**light section - .ls*/
.ls {
  background-color: #ffffff;
  color: map_get($theme-colors, grey4);
}

.ls.bg_image {
  color: #323232;
}

.ls h1,
.ls h2,
.ls h3,
.ls h4,
.ls h5,
.ls h6 {
  color: #323232;
}

.ls h1 a,
.ls h2 a,
.ls h3 a,
.ls h4 a,
.ls h5 a,
.ls h6 a {
  color: inherit;
}

.ls h1 a:hover,
.ls h2 a:hover,
.ls h3 a:hover,
.ls h4 a:hover,
.ls h5 a:hover,
.ls h6 a:hover {
  color: $default-theme-color;
}

.ls a {
  color: $default-theme-color;
}

.ls a:hover {
  color: #b2b2b2;
}

.ls .theme_button {
  color: #ffffff;
}

.ls .theme_button:hover, .ls .theme_button:focus {
  color: #ffffff;
  background-color: $default-theme-color;
  border-color: $default-theme-color;
}

.ls .theme_button.inverse {
  color: #323232;
}

.ls .theme_button.inverse, .ls .theme_button.inverse
{
  &:hover, &:focus {
    border-color: #323232;
    background-color: #323232;
    color: #ffffff;
  }
  &.color1 {
    &:hover, &:focus {
      border-color: $default-theme-color;
      background-color: $default-theme-color;
      color: #ffffff;
    }
  }
  &.color2 {
    &:hover, &:focus {
      border-color: $default-reverse-color;
      background-color: $default-reverse-color;
      color: #ffffff;
    }
  }
}


.ls .theme_button.color1:active,
.ls .theme_button.color1:hover,
.ls .theme_button.color1:focus {
  background-color: $default-reverse-color;
  border-color: $default-reverse-color;
}

.ls .color-icon.bg-icon:before {
  background-color: #f5f5f5;
}

.ls .color-icon.bg-icon:hover:before {
  color: #ffffff !important;
}

.ls .greylinks a {
  color: #b2b2b2;
}

.ls .darklinks a {
  color: #323232;
}

.ls .darklinks a:hover {
  color: $default-reverse-color;
}

.ls .thumbnail .caption {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
}

.ls .thumbnail > img,
.ls .thumbnail > a > img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: none;
}

/**grey section - light section, muted section - .ls.ms*/
.ls.ms {
  background-color: #fafafa;
  color: map_get($theme-colors, grey1);
}

.ls.ms h1,
.ls.ms h2,
.ls.ms h3,
.ls.ms h4,
.ls.ms h5,
.ls.ms h6 {
  color: #2a2a2a;
}

.ls.ms h1 a,
.ls.ms h2 a,
.ls.ms h3 a,
.ls.ms h4 a,
.ls.ms h5 a,
.ls.ms h6 a {
  color: inherit;
}

.ls.ms h1 a:hover,
.ls.ms h2 a:hover,
.ls.ms h3 a:hover,
.ls.ms h4 a:hover,
.ls.ms h5 a:hover,
.ls.ms h6 a:hover {
  color: $default-theme-color;
}

.ls.ms blockquote {
  background-color: #ffffff;
}

.ls.ms .theme_button {
  color: #ffffff;
}

.ls.ms .theme_button:hover, .ls.ms .theme_button:focus {
  color: #ffffff;
}

.ls.ms .theme_button.inverse {
  color: #323232;
}

.ls.ms .theme_button.inverse:hover {
  background-color: #323232;
  color: #ffffff;
}

.ls.ms .greylinks a {
  color: #323232;
}

.ls.ms .greylinks a:hover {
  color: $default-reverse-color;
}

.ls.ms .panel-title > a {
  color: #ffffff;
  background-color: $default-theme-color;
}

.ls.ms .panel-title > a.collapsed:hover,
.ls.ms .panel-title > a:hover {
  color: #ffffff;
  background-color: $default-theme-color;
}

.ls.ms .panel-title > a.collapsed {
  background-color: $default-reverse-color;
}

.ls.ms .panel-title > a:after {
  color: #ffffff;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.ls.ms .color-icon.bg-icon:before {
  background-color: #ffffff;
}

.ls.ms .color-icon.bg-icon:hover:before {
  color: #ffffff !important;
}

.ls.ms .breadcrumb {
  color: #b2b2b2;
}

.ls.ms .breadcrumb a {
  color: #999999;
}

.ls.ms .breadcrumb a:hover {
  color: $default-theme-color;
}

.ls.ms .post {
  background-color: #ffffff;
  color: #b2b2b2;
}

.ls.ms .post a:hover {
  color: #323232;
}

.ls.ms .post .entry-title a {
  color: #323232;
}

.ls.ms .post .entry-title a:hover {
  color: $default-theme-color;
}

.ls.ms .thumbnail .caption {
  border: none;
}

.ls.ms .countdown-section {
  border-left: 15px solid #fafafa;
  border-right: 15px solid #fafafa;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .ls.ms .countdown-section {
    border: none;
    padding-left: 8px;
    padding-right: 8px;
  }
}
