
/**
* mainslider styles
*/
/* flexslider */
.mainslider {
  position: relative;
}

.mainslider > img {
  width: 100%;
}

.mainslider .flexslider:before, .mainslider .flexslider:after {
  content: '';
  display: block;
  clear: both;
}

.mainslider .container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.mainslider [class*="col-"] {
  position: static;
}

.mainslider .slide_description_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  z-index: 5;
  padding: 40px 0;
}

.mainslider .slide_description_wrapper:before,
.mainslider .slide_description {
  display: inline-block;
  vertical-align: middle;
}

.mainslider .slide_description_wrapper:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.mainslider p {
  font-size: 20px;
  margin-bottom: 20px;
}

.mainslider p:first-child {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -0.05em;
  margin-bottom: 14px;
}

.mainslider h3 {
  font-size: 40px;
  line-height: 0.9;
  color: #ffffff;
  margin: 0 0 28px;
  padding: 0 0 2px;
}

.mainslider i {
  font-size: 42px;
  display: inline-block;
  text-align: center;
  line-height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid #323232;
  color: #323232;
  margin: 3px;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.mainslider i:hover {
  border-color: $default-theme-color;
  color: $default-theme-color;
}

.mainslider .theme_button {
  margin: 10px 0 10px;
}

@media (min-width: 1200px) {
  .mainslider h3 {
    font-size: 80px;
  }
}

@media (min-width: 1600px) {
  .mainslider h3 {
    font-size: 100px;
  }

  .mainslider p:first-child {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  .mainslider p {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .mainslider p:first-child {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .mainslider h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .mainslider .theme_button {
    margin-top: 5px;
  }

  .mainslider .flex-control-nav {
    display: none;
  }

  .mainslider .slide_description_wrapper {
    padding: 4px 0;
  }

  .mainslider i {
    line-height: 50px;
    width: 50px;
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .mainslider h3 {
    color: #323232;
  }

  .mainslider .container {
    position: static;
  }

  .mainslider .slide_description_wrapper:before {
    display: none;
  }

  .mainslider .slide_description {
    padding: 10px 0 20px;
    display: block;
    text-align: center;
  }

  .mainslider .slide_description_wrapper {
    padding: 10px 0 0;
    position: relative;
  }

  #layerslider .theme_button {
    padding: 5px 1px;
    font-size: 11px;
  }
}

#layerslider {
  padding: 0;
}

#layerslider [class*="container"] {
  padding: 0;
}