/*parallax*/
.parallax {
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: 50% 0;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 767px) {
  .parallax {
    background-size: auto auto !important;
  }
}

.parallax:before,
.parallax:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}

.parallax.ls:after {
  background-color: #ffffff;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity=85);
  opacity: 0.85;
}

.parallax.ls.ms:after {
  background-color: #ffffff;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=93)";
  filter: alpha(opacity=93);
  opacity: 0.93;
}

.parallax.cs:after {
  background-color: $default-theme-color;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  opacity: 0.9;
}

.parallax.cs:before {
  display: none;
}

.parallax.cs.main_color2:after {
  background-color: $default-reverse-color;
}

.parallax.cs.main_color3:after {
  background-color: #6496cf;
}

.parallax.ds:before {
  background-color: #222;
  opacity: 0.85;
}

.parallax.ds:after {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=95)";
  filter: alpha(opacity=0.2);
  opacity: 0.20;
}

.parallax.ds.ms:before {
  background-color: #444;
  opacity: 0.85;
}

.parallax.ds.ms:after {
  opacity: 0.1;
}

.parallax > *,
.radial_gradient > *,
.gradient > *,
.diagonal_section > * {
  z-index: 4;
  position: relative;
}

.radial_gradient {
  position: relative;
  overflow: hidden;
}

.gradient {
  position: relative;
}

.gradient:before,
.gradient:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.header_gradient,
#box_wrapper:before,
.gradient:before,
.gallery-image-links:before,
.blog-item:hover:before,
.dark_gradient:before,
.ui-slider-range {
  background: #20bbe9;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, $default-theme-color), color-stop(100%, $default-reverse-color));
  background: -webkit-linear-gradient(left, $default-theme-color 0%, $default-reverse-color 100%);
  background: linear-gradient(to right, $default-theme-color 0%, $default-reverse-color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$mainColor', endColorstr='$mainColor2',GradientType=1 );
}

.with_background_image {
  background-image: url(../img/background_section.png);
}

.with_top_border,
.with_bottom_border {
  position: relative;
}

.with_top_border:before,
.with_bottom_border:after {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  top: 0;
  background-color: #e5e5e5;
}

.with_bottom_border:after {
  top: auto;
  bottom: 0;
}

.bg_image,
.bg_image:after {
  background-image: url(../img/background_section.png);
}

.section_header {
  margin: 0 0 22px;
  font-size: 50px;
  position: relative;
  word-wrap: break-word;
  &.big {
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  &.small {
    font-size: 30px;
  }
  &.page-title {
    font-size: 48px;
  }
}

h3 + .section_header {
  margin-top: -10px;
}

.section_header + h3 {
  margin: -22px 0 44px;
  font-size: 30px;
  font-weight: 300;
}

.section_header + p {
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 28px;
  line-height: 1.5em;
}

.section_header.big + p {
  margin-bottom: 30px;
}

.text-center .section_header + p,
.section_header.text-center + p {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section_header + blockquote {
  font-size: 16px;
  max-width: 60%;
  margin: 50px auto 44px;
  border: none;
  background-color: transparent;
  padding: 0 40px;
  text-align: center;
}

.section_header + blockquote:before, .section_header + blockquote:after {
  font-style: normal;
  font-family: 'rt-icons-2';
  content: "\e977";
  position: absolute;
  left: 0;
  top: -10px;
  font-size: 30px;
  color: $default-theme-color;
}

.section_header + blockquote:after {
  content: "\e978";
  left: auto;
  right: 0;
}

@media (max-width: 991px) {
  .section_header {
    font-size: 30px;
    margin-top: 0;
  }

  .section_header + blockquote, .section_header + p {
    max-width: 100% !important;
  }

  .section_header + p {
    font-size: 1.1em;
    letter-spacing: 0;
  }
}

@media (max-width: 767px) {
  .section_header {
    font-size: 30px;
    margin-top: 0;
  }

  .section_header.big {
    font-size: 36px;
    margin-top: 0;
  }

  .section_header + blockquote, .section_header + p {
    max-width: 100% !important;
  }
}