
/*tabs*/
.tab-content {
  border-radius: 0 0 0 0;
  padding: 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.tab-content.no-border {
  padding: 0;
  border: none;
  background-color: transparent !important;
}

.tab-content.top-color-border {
  position: relative;
}

.tab-content.top-color-border:before {
  content: '';
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  height: 10px;
  background-color: $default-theme-color;
}

.tab-content .featured-tab-image {
  margin: -30px -31px 24px -31px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-tabs {
  border-bottom-color: transparent;
  margin-top: 0px;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  font-family: $default-font-3;
  padding: 13px 24px;
  margin-right: 1px;
  margin-top: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-color: transparent;
  background-color: $default-theme-color;
  color: #ffffff;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs.nav-justified > .active > a {
  border-color: transparent;
  background-color: $default-theme-color;
  color: #ffffff;
}
