
#mainteasers [class*="col-"] {
  vertical-align: top;
}

#mainteasers [class*="col-"] .media-left h4 {
  font-size: 24px;
}

#mainteasers [class*="col-"] .media-left h3 {
  font-size: 40px;
  margin: 0;
}

@media (min-width: 1200px) {
  #sliderteasers .row {
    margin-top: -100px;
  }
}

#folio, .page_portfolio {
  overflow: hidden;
}

#grid [class*="col-"] {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

@media (min-width: 500px) {
  .page_contact.negative_margin .row:last-child .col-sm-12 {
    margin-bottom: -140px;
  }

  .page_contact.negative_margin + .page_copyright > .container {
    padding-top: 130px;
  }
}

.section_subscribe .form-control {
  width: 350px;
  max-width: 100%;
  margin: 11px auto -5px;
  display: inline-block;
}

#partners-carousel {
  text-align: center;
  margin-bottom: 0;
}

#partners-carousel img {
  opacity: 0.8;
}

#partners-carousel img:hover {
  opacity: 1;
}

#partners-carousel .owl-nav {
  margin-top: -12px;
}

#partners-carousel .owl-nav > div:after {
  font-size: 20px;
  color: $default-theme-color;
}

#partners-carousel .owl-nav > div:hover {
  opacity: 0.6;
}

#related-gallery-items-carousel {
  margin-top: 30px;
}

.breadcrumbs_section.parallax {
  background-image: url(../images/parallax/breadcrumbs.jpg);
}

#comingsoon1 {
  background-image: url(../images/parallax/comingsoon1.jpg);
}

#comingsoon2 {
  background-image: url(../images/parallax/comingsoon2.jpg);
}

#comingsoon3 {
  background-image: url(../images/parallax/comingsoon3.jpg);
}

#donate {
  background-image: url(../images/parallax/donate.jpg);
}

#progress.parallax {
  background-image: url(../images/parallax/progress.jpg);
}

.section_subscribe.parallax,
#partners.parallax {
  background-image: url(../images/parallax/subscribe.jpg);
}

#team {
  background-image: url(../images/parallax/blog.jpg);
}

#services {
  background: url(../images/parallax/services.jpg) no-repeat 100% 0;
}

#featured {
  background: url(../images/parallax/featured.jpg) no-repeat 100% 0;
}

#featured .teaser .media-body h3,
#comingsoon1 .teaser .media-body h3 {
  font-size: 20px;
}

#skills {
  background: url(../images/parallax/skills.jpg) no-repeat 100% 0;
}

.page_contact.parallax {
  background-image: url(../images/parallax/map.jpg);
}

#recent .section_header {
  margin-bottom: 42px;
}

#recent > img {
  z-index: 3;
  position: relative;
  right: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  #recent > img {
    position: absolute;
    top: 20%;
    max-width: 60%;
  }
}

@media (min-width: 992px) {
  #recent > img {
    position: absolute;
    top: -30px;
    max-width: 60%;
  }
}

.page_copyright {
  font-size: 16px;
}

.page_copyright p {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}

.page_copyright.table_section .bottom_logo img {
  margin-bottom: 0;
}

#map, .page_map {
  height: 500px;
}

#map img, .page_map img {
  max-width: inherit;
}

#map h3, .page_map h3 {
  margin-top: 0;
}

#map p, .page_map p {
  line-height: 1.3;
}