
/*
**utilites
*/
.alignleft {
  float: left;
  margin: 5px 30px 15px 0;
  max-width: 50%;
}

.round {
  border-radius: 50%;
}

.inline-block {
  display: inline-block;
  max-width: 100%;
}

.with_background {
  padding: 40px;
  background-color: #f5f5f5;
}

.with_border {
  padding: 40px;
  border: 1px solid #e5e5e5;
}

.before_cover,
.after_cover,
.before_cover > *,
.after_cover > * {
  position: relative;
  z-index: 2;
}

.before_cover:before,
.after_cover:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#response,
.highlight {
  color: $default-theme-color;
  font-family: $default-font-3;
  border-color: $default-theme-color;
}

.title {
  .highlight {
    padding: 10px 20px;
    background: rgba($default-theme-color, 0.5) !important;
    color: #fff;
    @include border-radius(10px);
  }
}
.sub-title {
  .highlight2 {
    padding: 10px 20px;
    background: rgba($default-reverse-color, 0.5) !important;
    color: #fff;
    font-size: 30px;
    letter-spacing: 0;
    @include border-radius(10px);
  }
}

.slide-content {
  span {
    padding: 10px 20px;
    background: rgba(#ccc, 0.75) !important;
    @include border-radius(10px);
  }
}

.highlight2 {
  color: $default-reverse-color;
  border-color: $default-reverse-color;
}
.highlight3 {
  color: $default-theme-second-color;
  border-color: $default-theme-second-color;
}

.red, .required {
  color: #fa5c5d;
}

.black {
  color: #000000;
  border-color: #000000;
}

.grey {
  color: #323232;
  border-color: #323232;
}

.greylinks a {
  color: #b2b2b2;
}

.darklinks a {
  color: #323232;
}

.thin {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.quotesign {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 1;
}

.quotesign:before {
  font-size: 150px;
  font-family: 'PT Sans', sans-serif;
  content: '‘‘';
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1;
}

[class*="_bg_color"] {
  color: #ffffff;
}

.light_bg_color {
  background-color: #ffffff;
}

.main_bg_color {
  color: #ffffff;
  background-color: $default-reverse-color;
}

.dark_bg_color {
  background-color: #000000;
}

.dark_bg_color h1, .dark_bg_color h2, .dark_bg_color h3, .dark_bg_color h4, .dark_bg_color h5, .dark_bg_color h6 {
  color: #ffffff;
}

.darkgrey_bg_color {
  background-color: #323232;
}

.darkgrey_bg_color h1, .darkgrey_bg_color h2, .darkgrey_bg_color h3, .darkgrey_bg_color h4, .darkgrey_bg_color h5, .darkgrey_bg_color h6 {
  color: #ffffff;
}

/*dividers*/
.divider_20 {
  margin: 20px 0;
}

.divider_30 {
  margin: 30px 0;
}

.divider_40 {
  margin: 40px 0;
}

.topmargin_0 {
  margin-top: 0 !important;
}

.topmargin_10 {
  margin-top: 10px;
}

.topmargin_20 {
  margin-top: 20px;
}

.topmargin_30 {
  margin-top: 30px;
}

.topmargin_40 {
  margin-top: 40px;
}

.bottommargin_0 {
  margin-bottom: 0;
}

.bottommargin_10 {
  margin-bottom: 10px;
}

.bottommargin_20 {
  margin-bottom: 20px;
}

.bottommargin_30 {
  margin-bottom: 30px;
}

.bottommargin_40 {
  margin-bottom: 40px;
}

.margin_0 {
  margin: 0;
}